@charset "utf-8";

/*********************** GENERAL ***********************/
/*Comunes*/

html{
    background-color: #ededd3;
    color: #426f58;
    justify-content: center;
    padding: 0px;
    margin: 0px;
}
/*Nota: cambié el margin de la version escritorio ya que esta semana mi hermano me presto su monitor mientras arreglan su compu, ya que yo estab usando uan tele viejita y los colores se veian muy saturados, y este monitor nuevo es más grande de la tele q tenia asi que veo todo más grande y siento que necesitaba mas margin porque sino se veia muy expandido todo y nome gustaba. Tambien aproveche a rehacer el css y reorganizarlo, creo que quedo más ordenado, del html no toque mucho mas, solo agregué la galeria que me faltaba*/
body{
    width: 100%;
    justify-self: center;
    overflow-x: hidden;
        justify-content: center;
    padding: 0px;
    margin: 0px;
}
header{
    width: 100%;
    margin-top: 10px;
}
.idiomas{
    display: flex;
    flex-direction: row;
    border-radius: 20px;
    width: fit-content;
    background-color: #6b9680c0;
    font-family: "Titillium Web";
    font-weight: 600;
    align-items: center;
    align-self: center;
    align-content: center;
    justify-items: center;
    justify-content: center;
    width: fit-content;
    
    left: 50%;
    margin-top: 10px;
    transform: translateX(-50%);

    position: fixed;
    z-index: 50;
    opacity: 0.9;
}

.idiomas a{
    padding: 5px 20px 5px 20px;
    text-decoration: none;
    font-size: 14px
}


.actual{
    background-color: #ededd3d7;
    border-color: #6b9680;
    border-radius: 20px;
    border-width: 2px;
    border-style: solid;
}
.actual a{
    color: #6b9680;
}

.otra a{
    color:#ededd3 ;
}

nav{
    background-color: rgb(237 237 211 / 0.5);
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-width: 2px;
    border-style: solid;
    border-radius: 20px;
    border-color: #426f58;
    width: fit-content;
    padding-left: 50px;
    padding-right: 50px;
    
    gap: 50px;
    left: 50%;
    
    transform: translateX(-50%);

    position: fixed;
    z-index: 50;
}
nav a{
    color: #426f58;
    text-decoration: none;
    gap: 50px;
    padding: 10px 30px 10px 30px;
    font-family: "Courier Prime";
    font-size: 15px;
    font-weight: 600;
    
}
nav a:hover{
    background-color: #426f58;
    color: #ededd3;
    border-radius: 20px;
    transition: 0.3s;
}


main{
    padding-top: 70px;
}

footer{
    background-color: #426f58;
    color: #ededd3;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    display: flex;
    flex-direction: row;
    align-self: center;
    align-items: center;
    justify-content: center;
    justify-self: center;
    width: 90%;
    padding: 30px;
    margin: 100px 0px 0px 0px;
}
img{
    width: 100%;
    border-radius: 20px;
    border-color: #426f58;
    border-width: 2px;
    border-style: solid;
}
/***********************Textos***********************/
h1{
    font-family: "Titillium Web", sans-serif;
    font-size: 150px;
    font-style: italic;  
    font-weight: 200;
    margin-bottom: 0px;
    margin-top: 0px;
    line-height: 120px;
}
h2{
    font-family: "Titillium Web";
    font-size: 50px;
    line-height: 20px;
}

h3{
    font-family: "Courier Prime", monospace;
    font-weight: 600;
    font-size: 20px;
    padding: 0px;
    margin: 30px 0px 0px 0px;
}

h4{
    font-family: "Courier Prime", monospace;
    font-weight: 600;
    font-size: 20px;
    margin: 0px;
 
}

h5{
    font-family:"Titillium Web";
    font-weight: 600;
    font-style: italic;
    font-size: 15px;
    margin: 0px;
}
h6{
    font-family:"Titillium Web";
    font-weight: 400;
    font-style: italic;
    font-size: 15px;
}

h7{
    font-family:"Titillium Web";
    font-weight: 400;
    font-style: italic;
    font-size: 13px;
}
p{
    font-family:"Titillium Web";
    font-weight: 400;
    font-size: 15px;
    margin: 0px;
}

a:visited{
    color: #426f58;
}


li{
    font-family:"Titillium Web";
    font-weight: 400;
    font-size: 15px;
    margin: 10px;
    padding: 0px;
    position: relative;
    left: -15px;
}
/******Clases textos*******/
.h4-con-fondo{
    background-color: #426f58;
    color: #ededd3;
    align-self: center;
    padding: 10px 0px 10px 20px;
    border-radius: 10px;
}


/***********************Fin textos***********************/



/************************ INICIO INDEX************************/

.welcome{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    gap: 20px;
    justify-self: center;
    background-image: radial-gradient( #6b9680, #ededd3, #ededd3);
    margin-bottom: 200px;
}
.welcome h1{
    margin-top: 280px;
    margin-bottom: 20px;
}
.tags{
    display: flex;
    flex-direction: row;
    gap: 200px;
    width: 100%;
}
.tags h4{
    border: #426f58;
    border-radius: 40px;
    border-color: #426f58;
    border-style: solid;
    border-width: 2px;
    align-items: center;
    padding: 10px;
    margin-bottom: 200px;
    background-color: rgb(237 237 211 / 0.5);

}

.separador {
  position: relative;
  overflow: hidden;
  width: 100%;
  background-color: #ededd3;
  border-top: 2px solid #426f58;
  border-bottom: 2px solid #426f58;
  padding: 10px 0px -40px 0px;
  height: 2em;
}

.cinta {
  position: absolute;
  display: flex;
  width: max-content;
  animation: deslizar 40s linear infinite;
  top: 0;
  left: 0;
}

.bloque {
  flex-shrink: 0;
  padding-right: 2rem;
  font-family: "Courier Prime", monospace;
  color: #426f58;
  font-size: 1.2rem;
  letter-spacing: 2px;
  /* ❌ esta línea la sacamos: animation: girar... */
}

@keyframes deslizar {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.about-me{
    background-color: #426f58;
    color: #ededd3;
    padding-left: 350px;
    padding-right: 350px;
    padding: 30px 400px 50px 400px;
}


.back-gradient{
    background: linear-gradient(#426f58, #ededd3);
    height: 400px;
    width: 100%;
    position: relative;
    top: -50px;
    z-index: 1;
}



/***********************PORTAFOLIO***********************/

.estructura-index{
    width: fit-content;
    align-content: center;
    justify-self: center;
}
.grilla-imagenes{
    display: grid;
    grid-template-columns: 300px 300px 300px;
    grid-template-rows: 300px 300px;
    gap: 60px;
    justify-self: center;
    justify-content: center;
    justify-items: center;
    margin: 0px 0px 50px 0px;

}

.grilla-item{
    width: 100%;
    height: 320px;
    gap: 20px;
    font-size: 15px;
    font-family: "Courier Prime";
    font-weight: 600;
    align-items: center;
    justify-self: center;
    justify-content: center;
    justify-items: center;
    padding: 10px;
    background-color: #ededd3be;
    border-radius: 20px;
    border-color: #426f58;
    border-width: 2px;
    border-style: solid;
    transition: background-color 0.5s;
}

.grilla-item a{
    color: #426f58;
    text-decoration: none;
}
.grilla-item {
    color: #426f58;
    text-decoration: none;
}

.grilla-item:hover{
    background-color: #426f58;
    color: #ededd3;
    filter: hue-rotate(#426f58);
    scale: 1.05;
}


.verde{
    background-color: #426f58;
    width: 100%;
    height: 2px;
    margin-bottom: 20px;
}
.exp-galeria{
    width: fit-content;
    justify-self: center;
}

.exp-galeria img{
    width: 1200px;
}

.item-videos{
    border-radius: 20px;
    padding: 20px 20px 20px 20px;
    color: #426f58;
    filter: drop-shadow(0px 4px 5px #424242);
}
video::-webkit-media-controls-play-button {
  background-color: #426f58;
  border-radius: 20%;
  width: 20px;
  height: 40px;
  margin: 5px;
}
video::-webkit-media-controls-play-button:hover{
    background-color: #ededd3;
}
.proyect-description{
    display: flex;
    flex-direction: row ;
    gap: 20px;
    padding: 20px 100px 50px 100px;
}
.proyect-description p{
    width:70%;
}
.description-text{
    flex-direction: column;
}

/***********************FIN PORTAFOLIO***********************/


/***********************FORMULARIO***********************/

form{
    display: flex;
    flex-direction: column;
    width: fit fit-content;
}

label{
    color: #426f58;
    font-family: "Courier Prime", monospace;
    font-weight: 600;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    padding-left: 5px;
    margin-top: 20px;
}

input{
    background-color: #ededd3;
    border-color: #426f58;
    padding: 5px;
    border-radius: 20px;
    margin-bottom: 20px ;
}
.tipo-de-pedido{
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-self: center;
}
::placeholder{
    color: #868f8a;
    font-style: italic;
}

.enviar{
    background-color: #426f58;
    color: #ededd3;
    font-family: "Courier Prime", monospace;
    font-weight: 600;
    font-size: 20px;
}
.enviar:hover{
    background-color: #ededd3;
    color: #426f58;
    border-radius: 40px;
    border-style: solid;
    border-color: #426f58;
}
.formulario{
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 0px 60px 10px 50px;
    justify-self: center;
    width: fit-content;
}

.contenedor-redes-sociales{
    padding: 100px 30px 0px 30px;
    justify-self: center; 

}

.redes{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 80px;
}

.redes a{
    padding: 5px 10px 5px 10px;
    border-color: #426f58;
    border-radius: 20px;
    border-width: 2px;
    border-style: solid;
    text-decoration: none;
    font-family: "Courier Prime";
    color: #426f58;
}
.redes a:hover{
    background-color: #426f58;
    color: #ededd3;
    border-radius: 40px;
    border-style: solid;
    border-color: #426f58;
}


/***********************FIN FORMULARIO***********************/

/*MEDIA QUERIES*/
@media screen and (max-width:1600px) {
    html{
        max-width: fit-content; 
        display: flex;
        justify-self: center;
    }


    h1{
        font-size: 150px;
    }

    .tags{
        width: fit-content;
        gap: 50px;
        justify-self: center;
        align-items: center;
        align-self: center;
        margin-bottom: 0px;
    }

    .tags h4{
        margin-bottom: 0px;
        margin-top: 0px;
    }

    .about-me{

        z-index: 1;
        padding: 1px 100px 0px 100px;
        margin-left: -10px;
    }
    .about-me p{
        font-size: 20px;
    }
    .back-gradient{
        height: 300px;
        width: 1000%;
        position: relative;
        top: 0px;
        z-index: 66;
        margin-left: -10px;
    }
    /*formulario*/

    .formulario{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    input{
        width:100%;
    }






}
@media screen and (max-width:600px) {
    html{
        max-width: fit-content; 
        display: flex;
        justify-self: center;
    }
    h2{
        font-size: 30px;
        line-height: 50px;
    }
    header{
        width: 100%;
    }
    nav{
        display: flex;
        flex-direction: column;
        gap: 10px;
        background-color: #ededd3e0;
    }
    nav a{
        /*Probe con todos los align y justify al center y ninguno los movio al centor, asi que queda medio al costado. El coloreado queda en el centro, pero la palabra en si no*/
        width: 100%;
        padding: 0px;
        align-self: center;
        padding: 0px 20px 0px 20px;
    }
    nav a:hover{
        background-color: #426f58;
        color: #ededd3;
        border-radius: 20px;
        padding: 0px 20px 0px 20px;
 
    }
    footer{
        flex-direction: column;
    }
    h1{
        font-size: 100px;

    }

    .tags{
        display: flex;
        flex-direction: column;
        width: fit-content;
        gap: 10px;

        justify-self: center;
        align-items: center;
        align-self: center;
        margin-bottom: 0px;
    }

    .tags h4{
        margin-bottom: 0px;
        margin-top: 0px;
    }

    .about-me{
        width: 100%;
        padding: 0px;
        z-index: 1;
        padding: 20px 15px 10px 15px;
        margin-left: -10px;
    }
    .about-me p{
        font-size: 20px;
    }
    .back-gradient{
        height: 200px;
        width: 1000%;
        position: relative;
        top: 0px;
        z-index: 66;
        margin-left: -10px;
    }
    /*formulario*/


}

@media screen and (max-width:600px) {
    html{
        max-width: fit-content; 
        display: flex;
        justify-self: center;
    }
    h2{
        font-size: 30px;
        line-height: 50px;
    }
    header{
        width: 100%;
    }
    nav{
        display: flex;
        flex-direction: column;
        gap: 10px;
        background-color: #ededd3e0;
    }
    nav a{

        width: 100%;
        padding: 0px;
        align-self: center;
        padding: 0px 20px 0px 20px;
    }
    nav a:hover{
        background-color: #426f58;
        color: #ededd3;
        border-radius: 20px;
        padding: 0px 20px 0px 20px;
 
    }
    footer{
        flex-direction: column;
    }
    h1{
        font-size: 100px;

    }

    .tags{
        display: flex;
        flex-direction: column;
        width: fit-content;
        gap: 10px;

        justify-self: center;
        align-items: center;
        align-self: center;
        margin-bottom: 0px;
    }

    .tags h4{
        margin-bottom: 0px;
        margin-top: 0px;
    }

    .about-me{
        width: 100%;
        padding: 0px;
        z-index: 1;
        padding: 20px 15px 10px 15px;
        margin-left: -10px;
    }
    .about-me p{
        font-size: 20px;
    }
    .back-gradient{
        height: 200px;
        width: 1000%;
        position: relative;
        top: 0px;
        z-index: 66;
        margin-left: -10px;
    }
    /*formulario*/
    .formulario{
        flex-direction: column;
        padding: 100px 10px 20px 20px;
    }
    form{
        width: fit-content;
    }
    .contenedor-redes-sociales{
        align-self: center;
        justify-items: center;
        width: fit-content;   
        padding: 10px 0px 10px 10px;
    }

    .redes{
        flex-direction: column;
        width: fit-content;
        gap: 20px;
    }

}




