@charset "utf-8";

/*********************** GENERAL ***********************/
/*Comunes*/

html{
    background-color: #ededd3;
    color: #426f58;
    justify-content: center;
}
/*Nota: cambié el margin de la version escritorio ya que esta semana mi hermano me presto su monitor mientras arreglan su compu, ya que yo estab usando uan tele viejita y los colores se veian muy saturados, y este monitor nuevo es más grande de la tele q tenia asi que veo todo más grande y siento que necesitaba mas margin porque sino se veia muy expandido todo y nome gustaba. Tambien aproveche a rehacer el css y reorganizarlo, creo que quedo más ordenado, del html no toque mucho mas, solo agregué la galeria que me faltaba*/
body{
    width: 100%;
    justify-self: center;
    overflow-x: hidden;
}
header{
    width: 100%;
    margin-top: 10px;
}

nav{
    background-color: rgb(237 237 211 / 0.5);;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-width: 2px;
    border-style: solid;
    border-radius: 20px;
    border-color: #426f58;
    width: fit-content;
    padding-left: 50px;
    padding-right: 50px;
    
    gap: 50px;
    left: 50%;
    
    transform: translateX(-50%);

    position: fixed;
    z-index: 50;
}
nav a{
    color: #426f58;
    text-decoration: none;
    gap: 50px;
    padding: 10px 30px 10px 30px;
    font-family: "Courier Prime";
    font-size: 15px;
    font-weight: 600;
    
}
nav a:hover{
    background-color: #426f58;
    color: #ededd3;
    border-radius: 20px;
    transition: 0.3s;
}


main{
    padding-top: 70px;
}

footer{
    background-color: #426f58;
    color: #ededd3;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    padding: 30px;
    display: flex;
    flex-direction: row;
    align-self: center;
    align-items: center;
    justify-content: center;
    justify-self: center;
    width: 90%;
    padding: 30px;
    margin: 100px 0px 0px 0px;
}
img{
    width: 100%;
    border-radius: 20px;
    border-color: #426f58;
    border-width: 2px;
    border-style: solid;
}
/***********************Textos***********************/
h1{
    font-family: "Titillium Web", sans-serif;
    font-size: 150px;
    font-style: italic;  
    font-weight: 200;
    margin-bottom: 0px;
    margin-top: 0px;
    line-height: 120px;
}
h2{
    font-family: "Titillium Web";
    font-size: 50px;
    line-height: 20px;
}

h3{
    font-family: "Courier Prime", monospace;
    font-weight: 600;
    font-size: 20px;
    padding: 0px;
    margin: 30px 0px 0px 0px;
}

h4{
    font-family: "Courier Prime", monospace;
    font-weight: 600;
    font-size: 20px;
    margin: 0px;
 
}

h5{
    font-family:"Titillium Web";
    font-weight: 600;
    font-style: italic;
    font-size: 15px;
    margin: 0px;
}
h6{
    font-family:"Titillium Web";
    font-weight: 400;
    font-style: italic;
    font-size: 15px;
}

h7{
    font-family:"Titillium Web";
    font-weight: 400;
    font-style: italic;
    font-size: 13px;
}
p{
    font-family:"Titillium Web";
    font-weight: 400;
    font-size: 15px;
    margin: 0px;
}

a:visited{
    color: #426f58;
}


li{
    font-family:"Titillium Web";
    font-weight: 400;
    font-size: 15px;
    margin: 10px;
    padding: 0px;
    position: relative;
    left: -15px;
}
/******Clases textos*******/
.h4-con-fondo{
    background-color: #426f58;
    color: #ededd3;
    align-self: center;
    padding: 10px 0px 10px 20px;
    border-radius: 10px;
}


/***********************Fin textos***********************/



/************************ INICIO INDEX************************/

.welcome{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    gap: 20px;
    justify-self: center;
    background-image: radial-gradient( #6b9680, #ededd3, #ededd3);
    margin-bottom: 110px;
}
.welcome h1{
    margin-top: 200px;
    margin-bottom: 20px;
}
.tags{
    display: flex;
    flex-direction: row;
    gap: 200px;
    width: 100%;
}
.tags h4{
    border: #426f58;
    border-radius: 40px;
    border-color: #426f58;
    border-style: solid;
    border-width: 2px;
    align-items: center;
    padding: 10px;
    margin-bottom: 200px;
    background-color: rgb(237 237 211 / 0.5);

}

.separador {
  position: relative;
  overflow: hidden;
  width: 100%;
  background-color: #ededd3;
  border-top: 2px solid #426f58;
  border-bottom: 2px solid #426f58;
  padding: 10px 0px -40px 0px;
  height: 2em;
}

.cinta {
  position: absolute;
  display: flex;
  width: max-content;
  animation: deslizar 20s linear infinite;
  top: 0;
  left: 0;
}

.bloque {
  flex-shrink: 0;
  padding-right: 2rem;
  font-family: "Courier Prime", monospace;
  color: #426f58;
  font-size: 1.2rem;
  letter-spacing: 2px;
  /* ❌ esta línea la sacamos: animation: girar... */
}

@keyframes deslizar {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}


.about-me{
    background-color: #426f58;
    color: #ededd3;
    padding-left: 350px;
    padding-right: 350px;
    padding: 30px 400px 50px 400px;
}

/***********************PORTAFOLIO***********************/


.grilla-imagenes{
    display: grid;
    grid-template-columns: 300px 300px 300px;
    grid-template-rows: 300px 300px;
    gap: 60px;
    justify-self: center;
    justify-content: center;
    justify-items: center;
    margin: 0px 0px 50px 0px;

}
.grilla-item{
    width: 100%;
    height: 320px;
    gap: 20px;
    font-size: 15px;
    font-family: "Courier Prime";
    font-weight: 600;
    align-items: center;
    justify-self: center;
    justify-content: center;
    justify-items: center;
    padding: 10px;
    border-radius: 20px;
    border-color: #426f58;
    border-width: 2px;
    border-style: solid;
    transition: background-color 0.5s;
}

.grilla-item:hover{
    background-color: #426f58;
    color: #ededd3;
    filter: hue-rotate(#426f58);
    scale: 1.05;
}


/***********************FIN PORTAFOLIO***********************/


/***********************FORMULARIO***********************/

form{
    display: flex;
    flex-direction: column;
    width: fit fit-content;
}

label{
    color: #426f58;
    font-family: "Courier Prime", monospace;
    font-weight: 600;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    padding-left: 5px;
    margin-top: 20px;
}

input{
    background-color: #ededd3;
    border-color: #426f58;
    padding: 5px;
    border-radius: 20px;
    margin-bottom: 20px ;
}
.tipo-de-pedido{
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-self: center;
}
::placeholder{
    color: #868f8a;
    font-style: italic;
}

.enviar{
    background-color: #426f58;
    color: #ededd3;
    font-family: "Courier Prime", monospace;
    font-weight: 600;
    font-size: 20px;
}
.enviar::hover{
    background-color: #ededd3;
    color: #426f58;
    border-radius: 40px;
    border-style: solid;
    border-color: #426f58;
}
.formulario{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.contenedor-redes-sociales{
    margin-top: 50px;
    justify-content: center;    
}

.redes{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}

.redes a{
    padding: 5px 10px 5px 10px;
    border-color: #426f58;
    border-radius: 20px;
    border-width: 2px;
    border-style: solid;
    text-decoration: none;
    font-family: "Courier Prime";
}


/***********************FIN FORMULARIO***********************/

/*MEDIA QUERIES*/
@media screen and (max-width:1200px){
    html{
        margin: 0px 20px 0px 20px;  
        display: flex;
    }
    nav{
        display: flex;
        flex-direction: row;
        gap: 10px;
    }
    footer{
        flex-direction: column;
        width: 100%;
    }
}
@media screen and (max-width:900px){
    html{
        margin: 0px 20px 0px 20px;  
        display: flex;
    }
    nav{
        display: flex;
        flex-direction: row;
        gap: 10px;
    }
    footer{
        flex-direction: column;
    }
}

@media screen and (max-width:600px) {
    html{
        max-width: 100%;
        margin: 0px 20px 0px 20px;  
        display: flex;
        
        justify-self: center;
    }
    header{
        width: 100%;
    }
    nav{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    nav a{
        /*Probe con todos los align y justify al center y ninguno los movio al centor, asi que queda medio al costado. El coloreado queda en el centro, pero la palabra en si no*/
        width: 100%;
        padding: 0px;
        align-self: center;
        padding: 0px 20px 0px 20px;
    }
    nav a:hover{
        background-color: #426f58;
        color: #ededd3;
        border-radius: 20px;
        padding: 0px 20px 0px 20px;
 
    }
    footer{
        flex-direction: column;
    }
}






/*
Nota: intenté hacer un menu desplegable como el del prototipo utilizando los details y con el display=none, y que tipo cuando este en el media de 600 se viera visible el details y cuando hubiera más px de pantalla se ocultara y se mostrara el nav normal/original (el nav desktop), pero al final no me salio, no se por que me salian dos estrellitas cuando lo pasaba a 600px y ninguna me dejaba clickearla para expandirla, asi que lo deje asi


details > summary {
    list-style-type: "✦︎";
    color: #426f58;
}

details[open] > summary {
    list-style-type: "✦︎";
    color: #426f58;
}

details[closed] > summary {
    list-style-type: "✦︎";
    color: #426f58;
}*/






/*
Colores: 
#ededd3 beige
#426f58 verde oscuro

font-family:
"Titillium Web";
"Courier Prime"
*/

